<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout}">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body layout:fragment="body" >
        <div class="row justify-content-center mt-5">
            <div class="col-5">
                <div class="card" style="margin-top: 90px">
                    <div class="card-header">
                        <h1 class="text-center">Login</h1>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/login/authLogin}" method="post" th:object="${usuario}">
                            <div class="mb-3">
                                <label for="InputUsername" class="form-label">Username</label>
                                <input type="text" class="form-control" id="InputUsername" aria-describedby="username" th:field="*{username}">
                                <div id="username" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="InputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="InputPassword1" th:field="*{password}">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
